*{
    margin:0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    font-family: '微软雅黑';
    color: #666;
}
.main{
    width: 1200px;
    height: 520px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}
.tab-bar{
    width: 1200px;
    border: 0.5px solid #bbb;
    height: 60px;
    background: #f8f8f8;
    /* border-radius: 5%; */
    cursor: pointer;
}
.tab-item{
    width: 300px;
    height: 60px;
    float: left;
    /* border-radius: 5%; */
}
.tab-item span{
    text-align:center;
    display: block;
    position: relative;
    line-height: 60px;
}
.tab-active{
    background: #fc0;
    font-weight: bold;
}
.banner{
    width: 1200px;
    height:460px;
    overflow: hidden;
    position: relative;
}
.banner-slide{
    width: 1200px;
    height: 460px;
    position: absolute;
    background-repeat: no-repeat;
    display: none;
}
.slide1{
    background-image: url("../img/1.jpg");
}
.slide2{
    background-image: url("../img/2.jpg");
}
.slide3{
    background-image: url("../img/3.jpg");
}
.slide4{
    background-image: url("../img/4.jpg");
}
.slide-active{
    display: block;
}